<template name="faqs">
  {{#if isInRole 'admin'}}
  {{#if allowAddingFaq}}
  <form class="add-faq">
    <div class="form-group">
      <input type="text" class="form-control input-lg textInput lead" name="question" placeholder="FAQ question..." maxlength="300" minlength="5" required="required">
    </div>
    <div class="form-group">
      <textarea type="text" class="form-control input-lg textInput lead" name="answer" rows="5" placeholder="Answer..." maxlength="3000" minlength="10" required="required"></textarea>
    </div>
    <button class="btn btn-primary btn-lg" type="submit">
      Add
    </button>
    <button class="btn btn-default btn-lg cancelAddingFaq" type="button">
      Cancel
    </button>
  </form>
  {{else}}
    <button type="button" class="btn btn-info allowAddingFaq">
      Add New FAQ
    </button>
  {{/if}}

    <hr>
  {{/if}}
  {{#each faqs}}
  <div class="well well-sm">
    <p class="lead">Q: {{question}}</p>
    <p>A: {{answer}}</p>
    {{#if isInRole 'admin'}}
    <button type="button" class="btn btn-danger removeFaq"> <i class="fa fa-times" aria-hidden="true"></i>
      Remove
    </button>
    {{/if}}
  </div>
    {{else}}
    <p class="lead">No FAQs</p>
  {{/each}}
</template>
