<template name="nav">
  <nav class="navbar navbar-expand navbar-dark bg-dark shadow-lg">
    <div class="container">
      <a class="navbar-brand" href="/">MeteorJS 1.10.2</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-lg-0">
          {{#if isInRole 'admin'}}
            <li class="nav-item">
              <a class="nav-link" href="/users">
                <i class="fas fa-users"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">
                <i class="fas fa-tachometer-alt"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/notifications">
                <i class="fas fa-bell" aria-hidden></i>
              </a>
            </li>
          {{/if}}
        </ul>
        <ul class="navbar-nav ml-auto mt-lg-0">
          {{#if currentUser}}
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars fa-lg"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profile">Account</a>
                <a class="dropdown-item" href="#">Link1</a>
                <a class="dropdown-item" href="#">Link2</a>
                <a class="dropdown-item" href="#">Link3</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item logout" href="#">
                  <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                  Logout</a>
              </div>
            </li>
          {{else}}
            <li class="nav-item">
              <a href="/login" class="nav-link">
                <i class="fas fa-sign-in-alt"></i>
                Login
              </a>
            </li>
            <li class="nav-item">
              <a href="/sign-up" class="nav-link">
                <i class="fas fa-user-plus"></i>
                Register
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>