<template name="customAtForm">
  <div class="vh-100 d-flex align-items-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md text-center d-none d-md-block">
          <img class="img-fluid" src="https://source.unsplash.com/random" alt="Login Register">
        </div>
        <div class="col-md">
          <div class="card border-0 text-center">
            <div class="card-body">
              {{> atForm}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> footer}}
</template>