<template name="users">
  <div class="form-group">
    <input type="text" class="form-control textInput" name="users" placeholder="start typing to search users by email..">
  </div>
  <hr>
    {{#each users}}
      <div class="card my-1">
        <div class="card-header" data-toggle="collapse" data-target="#collapse-{{_id}}">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          {{useremail}}
          {{#if isAdmin}}
            : Admin
          {{/if}}
        </div>
        <div id="collapse-{{_id}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <button type="button" class="btn btn-secondary deleteUser">
              <i class="fa fa-trash" aria-hidden="true"></i>
              User
            </button>
          </div>
        </div>
      </div>
    {{/each}}
</template>
