<template name="App_body">
  {{> Template.dynamic template=nav}}
  {{> Template.dynamic template=main}}
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <ul class="nav navbar-nav">
        <li>
          <a href="https://xpressabhi.github.io/" target="_blank">Developed by Abhishek Maurya</a>
        </li>
        <!-- <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li> -->
      </ul>
      <!-- <p class="navbar-text"> This is text.</p>
      <p class="navbar-text"> This is text.</p> -->
    </div>

  </nav>
</template>
